*, *::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
body{
  padding: 0 1rem;
  font-size: 1.4rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.header__top, .header__bottom, .header__top--buttons{
  display: flex;
  align-items: center;
}
.header__top{
  padding-top: 1rem;
  border-bottom: 2px solid #eee;
  padding: 1rem 1rem 1rem 0;
}
.header__bottom{
  padding: 1rem 1rem 1rem 0;
}
.header__top--buttons>*:not(:last-child){
  margin-right: 1rem;
}
.header__top--seperator{
  margin-right: 2rem!important;
  border-right: 1px solid #ccc;
}

/* home */
.home{
  height: clamp(90vh, 90vh, 90vh);
  display: grid;
  grid-template-columns: 60% 35%;
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
  margin-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid #111;
  margin-bottom: 1rem;
  /* grid-template-columns: repeat(auto-fit, minmax(60rem, 1fr)); */
}

/* blogs */
.blog__link--img{
  --size: 15rem;
  /* width: var(--size); */
  width: 20rem;
  min-width: 20rem;
  max-width: 20rem;
  height: var(--size);
  margin-right: 2rem;
}
.blog__link--image{
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.home__background{
  grid-row: 1/3;
  grid-column: 1/2;
}
.home__background--image{
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.home__title--placer{
  grid-row: 3/4;
  grid-column: 1/2;
}

/* the previews */
.previews{
  border-bottom: 2px solid #111;
  margin-bottom: 2rem;
}
.previews__container{
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60rem, 1fr));
  gap: 3rem;
  justify-items: center;
}
.preview:link, .preview:visited{
  display: flex;
  align-items: flex-start;
  width: 60rem;
  text-decoration: none;
  margin-bottom: 1rem;
  /* border: 1px solid red; */
}
.preview__image{
  width: 20rem;
  min-width: 20rem;
  max-width: 20rem;
  height: 13rem;
  margin-right: 1.5rem;
}
.preview__image--img{
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 5px;
}
.preview__header{
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 1.6rem;
}
.preview__header--categories{
  color: #222;
  font-weight: bolder;
  text-transform: capitalize;
}
.preview__header span{
  color: #222;
}
.preview__header--date{
  color: #444;
  text-transform: capitalize;
}
.preview__side--title{
  font-size: 2.2rem;
  text-transform: capitalize;
  color: #111;
  margin-bottom: 2rem;
}
.preview__author{
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 1rem;
}
.preview__author__image{
  --size: 6rem;
  min-width: var(--size);
  max-width: var(--size);
  width: var(--size);
  min-height: var(--size);
  max-height: var(--size);
  height: var(--size);
}
.preview__author__image--img{
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 0 1px;
}
.preview__author__side--name{
  font-size: 1.8rem;
  color: #222;
  font-weight: bolder;
  text-transform: capitalize;
  margin-bottom: .6rem;
}
.preview__author__side--details{
  color: #444;
  font-size: 1.6rem;
  letter-spacing: .1px;
}
.blog-cards-holder{
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* videos */
.videos{
  background-color: #111;
}
.videos >*{
  color: #fff!important;
}
video{
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.footer{
  grid-template-columns: repeat(auto-fit, minmax(60rem, 1fr));
}